head
  title url shortener
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
body
  .container
    h1 Welcome to the URL Shortener Microservice
    blockquote better then any tinyurl
    p Pass a url to the /new/ and the a shortened url link will be returned
    h3 Example Usage:
    code https://so-short-so-url.herokuapp.com/new/http://www.google.com
    h3 Example Output:
    code {"original_url":"http://www.google.com","short_url":"https://so-short-so-url.herokuapp.com/6748"}
    h3 Usage:
    code "https://so-short-so-url.herokuapp.com/6748"
    h3 Will redirect to:
    code "http://www.google.com"
    br
    br
    pre
      a(href="http://github.com/musedivision") @musedivision
